/*-----style.css-----
--par Alexandre TREMOUREUX--*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
:root{
--white: #F5F5F5;
--light: #E0C9CB;
--tan: #C3A1A0;
--pink: #D9AAB7;
--rose: #BA7E7E;
--dark: #4E4E4E;
}
body{
    font: 'Lato', sans-serif;
    background-color: var(--light);
    color: var(--dark);
    max-width: 100%;
    font-size: 1rem;
}
ul{
    list-style: none;
}
.rose{
    color: var(--rose);
}
.capital{
    text-transform: uppercase;
}
article{
    display: grid;
    grid-template-columns: 55% , 45% ;
    grid-template-rows: 10%, 10%, 10%, 1fr, 10%;
    background-color: var(--white);
    border-radius: 15px;
    margin: auto;
    width:45%;
    box-shadow: 5px 5px 15px var(--rose);
    margin-top: 200px;
}
.image{
    grid-column: 1 / 1 ;
    grid-row: 1 / 5;
    max-width: 90%;
    border-radius: 15px 0px 0px 0px;
}
.size{
    width: 85%;
    padding-left: 20px;
    grid-column: 1 / 1 ;
    grid-row: 5 / 6 ;
    padding-bottom: 30px;
}
.pSize{
    font-size: 0.8em;
}
.buttonWrapper{
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}
.bSize{
    display: block;
    border: solid 1px var(--light);
    background-color: var(--white);
    color: var(--pink);
    width: 40px;
    height: 40px;
    padding: 1px;
    margin-right: 2px;
    cursor: pointer;
}
.bSize:hover{
    background-color: var(--rose);
    color: var(--white);
    transition: .8s;
}
.category{
    grid-column: 2 / 2 ;
    grid-row: 1 / 2 ;
    font-size: 0.7em;
    padding-top: 40px;
    padding-right: 40px;
    margin-bottom: 0px;
}
.productTitle{
    grid-column: 2 / 2 ;
    grid-row: 2 / 3 ;
    font-size: 1.2em;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 40px;
}
.price{
    grid-column: 2 / 2 ;
    grid-row: 3 / 4 ;
    font-size: 1.4em;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
    margin: 0px 0px 10px;
    padding-right: 40px;
}
.description{
    grid-column: 2 / 2;
    grid-row: 4 / 5;
    font-size: 0.8em;
    line-height: 20px;
    text-align: justify;
    padding-right: 40px;
    margin: 0px;
}
.click{
    grid-column: 2 / 2;
    grid-row: 5 / 6 ;
    display: flex;
    padding-right: 40px;
    margin-top: 43px;
}
.cart{
    width: 75%;
    font-size: 1em;
    margin-right: 1px;
}
.favorite{
    width: 25%;
}
.cart, .favorite{
    border: solid 1px;
    border-radius: 3px;
    height: 45px;
    color: var(--white);
    background-color: var(--pink);
    cursor: pointer;
}
.cart:hover, .favorite:hover{
    background-color: var(--rose);
    transition: .8s;
}
footer a{
    color: var(--white);
    text-decoration: none;
}
footer a:hover {
    color: var(--dark);
}
footer{
    color: var(--rose);
    font-size: 0.4em;
    text-align: right;
    margin-top: 100px;
    margin-right: 40px;
}
